@import "./lib/style/colorsTheme1.scss";
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");

body {
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;

    p, h1, h2, h3, h4, h5, h6 {
        margin: 0;
        padding: 0;
    }

    color: $header-screen-color;
    font-family: "League Spartan";
    font-size: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $main-bg;
}

main {
    width: 540px;
    height: 700px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 30px;
}

